@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

@import "__tailwind.css";

:root {
    --black-gradient: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
    scroll-behavior: smooth;
}

.markdown > * {
    all: revert;
}

.bg-black-gradient {
    background: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
}

.bg-black-gradient-2 {
    background: linear-gradient(
        -168.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
}

.bg-gray-gradient {
    background: linear-gradient(
        153.47deg,
        rgba(255, 255, 255, 0) -341.94%,
        #14101d 95.11%
    );
}

.bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
